*{
    padding: 0;
    margin: 0;
}  
body{
    display: flex;
}
.wrap{
    width: 1920px;
    margin: 0 auto;
} 
.header{
    width: 100%;
    height: 50px;
    background: #00B8C4;
    position: relative;
}
.header__text{
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Poppins',sans-serif;
    color: #FFFFFF;
    top: 11px;
    left: 720px;
}
.taskbar{
    height: 100px;
    display: flex;
    box-shadow: 0 0 8px 0 #ccc;
}
.taskbar__content{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskbar__logo{
    width: 127px;
    height: 97px;
    background-image: url(../img/img/Xám_nhạt_và_Xanh_mòng_két_Phông_chữ_Monoline_Đơn_giản_Thời_trang_Biểu_trưng_Thời_trang-removebg-preview\ 1.png);
    cursor: pointer;
}
.taskbar__list{
    width: 800px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.taskbar__search{
    padding: 0 30px;
}
.taskbar__item:hover{
    cursor: pointer;
    font-weight: 900;
    color: #00B8C4;
}
.taskbar__sublist{
    display: flex;
}
.taskbar__cart{
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/img/states/shopping-cart\ \(2\)\ 1.png);
}
.taskbar__cart-img{
    width: 9px;
    height: 9px;
    position: absolute;
    top: -2px;
    left: 14px;
}
.taskbar__cart-icon{
    width: 4px;
    height: 9px;
    position: absolute;
    top: -3px;
    left: 17px;
}
.one{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    color: #000000;
}
.sub{
    width: 200px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins',sans-serif;   
    color: rgba(0, 0, 0, 0.7);
    margin-left: 150px;
    margin-top: 20px;
    display: inline-block;
}
.main{
    display: flex;
}
.content{
    width: 1301px;
    margin: 0 auto;
}
.head{
    display: flex;
    justify-content: space-between;
}
.heading{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    font-family: 'Poppins',sans-serif;
    color: #000000;
}
.selection{
    list-style: none;
    display: flex;
}
.item{
    width: 130px;
    height: 35px;
    margin: 0 16px;
    font-family: 'Poppins',sans-serif;

}
.item:hover{
    opacity: 0.8;
    cursor: pointer;
}
.item__1{
    box-shadow: 1px 1px 0 1px #ccc;
    text-align: center  ;
}
.item__2{
    box-shadow: 1px 1px 0 1px #ccc;
    text-align: center  ;
}
.product{
    display: flex;
    margin-top: 100px;
    position: relative;
}
.product__main{
    width: 1290px;
    margin: 0 auto;
}
.product__heading{
    height: 49px;
    font-family: 'Rufina',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    text-align: center;
}
.product__icon{
    height: 41px;
    position: relative;
}
.product__category{
    margin-top: 30px;
}
.productions{

}
.tgt__1{
    position: absolute;
    left: 569px;
    top: 11.5px;
}
.tgt__2{
    position: absolute;
    left: 639.32px;
    top: 1.74px;
}
.tgt__3{
    position: absolute;
    left: 668px;
    top: 11.5px;
}
.tgt__4{
    position: absolute;
    left: 641.17px;
    top: 1.51px;
}
.tgt__5{
    position: absolute;
    left: 653.65px;
    top: 1.51px;
}
.tgt__6{
    position: absolute;
    left: 656.44px;
    top: 14.25px;
}
.tgt__7{
    position: absolute;
    left: 648.24px;
    top: 19.74px;
}
.tgt__8{
    position: absolute;
    left: 637px;
    top: 14.25px;
}
.product__category{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.category__item{
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
}
.category__item:hover{
    color: #00B8C4;
}
.category__1{
    width: 500px;
}
.category__2{
    width: 650px;
}
.category__item__primary{
    color: #1DC1CC;
}
.productions_item{
    margin-bottom: 30px;
    opacity: 1;
    border-radius: 4px;
    overflow: hidden;
}
.productions_item:hover{
    opacity: 0.8;
    cursor: pointer;
}
.productions_item:hover .product__info{
    background-color: #ccc;
}
.productions{
    margin-top: 43.87px;
}
.productions__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product__img{
    width: 303px;
    height: 299px;
    position: relative;
}
.product__cart{
    width: 30px;
    height: 30px;
    background: #00B8C4;
    border-radius: 3px;
    position: absolute;
}
.product__cart-icon{
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    top: 8px;
    left: 6px;
}
.product__img-1{
    background-image: url(../img/img/product/1.png);
}
.product__img-2{
    background-image: url(../img/img/product/2.png);
}
.product__img-3{
    background-image: url(../img/img/product/3.png);
}
.product__img-4{
    background-image: url(../img/img/product/4.png);
}
.product__img-5{
    background-image: url(../img/img/product/5.png);
}
.product__img-6{
    background-image: url(../img/img/product/6.png);
}
.product__img-7{
    background-image: url(../img/img/product/7.png);
}
.product__img-8{
    background-image: url(../img/img/product/8.png);
}
.product__cart-1{
    bottom: 24px;
    right: 16px;
}
.product__cart-2{
    bottom: 24px;
    right: 16px;
}
.product__cart-3{
    bottom: 24px;
    right: 16px;
}
.product__cart-4{
    bottom: 24px;
    right: 16px;
}
.product__cart-5{
    bottom: 24px;
    right: 16px;
}
.product__cart-6{
    bottom: 24px;
    right: 16px;
}
.product__cart-7{
    bottom: 24px;
    right: 16px;
}
.product__cart-8{
    bottom: 24px;
    right: 16px;
}
.product__info{
    padding: 20px 0;
}
.product__name{
    width: 303px;
    height: 60px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;      
}
.product__cost{

}
.product__cost-current{
    width: 71px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.product__cost-origin{
    width: 59px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.66);
    text-decoration: line-through;
}
.product__button{
    display: flex;
}
.product__btn{
    width: 192px;
    height: 50px;
    border: 1px solid #00B8C4;
    border-radius: 100px;
    color: #00B8C4;
    font-size: 16px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.product__btn__icon{
    padding-left: 8.22px;
    color: #00B8C4;
    transform: rotate(-34.26deg);
}
.product__btn:hover{
    background-color: #a4d5d8;
    color: #FFFFFF;
    cursor: pointer;
}
.page{

}
.page__content{
    width: 143px;
    height: 24px;       
}
.page__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.page__item{
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(200, 200, 200, 0.6);
    border-radius: 4px;
    position: relative;
} 
.page__item-1{
    background: rgba(0, 184, 196, 0.42);
    color: #FFFFFF;
}
.page_text-1{
    position: absolute;
    top: 2px;
    left: 4px;
    width: 16px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
.page_text-2{
    position: absolute;
    top: 2px;
    left: 4px;
    width: 16px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

color: #000000;

}
.page_text-3{
    position: absolute;
    top: 2px;
    left: 4px;
    width: 16px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

color: #000000;

}
.page_text-4{
    position: absolute;
    top: 2px;
    left: 4px;
    width: 16px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    color: #000000;
}
.page_text-5{
    width: 5.9px;
    height: 10.16px;
    background-image: url(../img/img/product/24/arrows/icon.jpg);
}
.text__box{
    margin-top: 90px;
}
.text{
    width: 1297px;
    height: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Poppins' , sans-serif;
    color: #000000;
    margin-bottom: 16px;
    /* margin: 8px 0; */
}
.footer{
    display: flex;
    width: 100%;
    height: 494px;
    background: rgba(29, 193, 204, 0.21);
    backdrop-filter: blur(2px);
    margin-top: 100px;
}
.footer__content{
    width: 1302px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.footer__list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer__text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins',sans-serif;
    color: #000000;
    width: 300px;
    height: 96px;
    margin: 16px 0 24px;
}
.footer__link{
    width: 159px;
    height: 39px;
    position: relative;
    display: flex;
}
.footer__logo{
    width: 192px;
    height: 102px;
    background-image: url(../img/img/grey\ background.png);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__icon{
    position: absolute;
}
.footer__icon__1{
    width: 29.06px;
    height: 28.9px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 4.73px;
    left: 4.78px;
    background-image: url(../img/img/nen\ fb.png);
}
.footer__icon__2{
    width: 29.06px;
    height: 28.9px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5.17px;
    left: 63.96px;
    background-image: url(../img/img/ins.png);
}
.footer__icon__3{
    width: 29.06px;
    height: 28.9px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 7.4px;
    left: 117.42px;
    background-image: url(../img/img/nen\ youtube.png);
}
.footer__center__icon-1{
    position: absolute;
    top: 5.65px;
    left: 8.48px;
}
.footer__center__icon-3{
    position: absolute;
    top: 6.79px;
    left: 13.05px;
}
.footer__heading{
    height: 45px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    font-family: 'Poppins',sans-serif;
    color: rgba(0, 0, 0, 0.81);
}
.footer__option{
    list-style: none;
    font-family: 'Poppins',sans-serif;
}
.footer__part{
    padding: 7px 0;
}
.footer__part:hover{
    color: #1DC1CC;
    cursor: pointer;
}
.footer__para{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    font-family: 'Poppins',sans-serif;
    color: #000000;
    margin: 14px 0 21px;
}
.footer__form{
    width: 293px;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    position: relative;
}
.footer__input{
    outline: none;
    position: absolute;
    top: 11px;
    left: 20px;
    border: none;
    width: 180px;
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    font-family: 'Poppins',sans-serif;
    color: rgba(0, 0, 0, 0.53);
}
.footer__send{
    width: 28px;
    height: 28px;
    background-image: url(../img/img/Send_fill.png);
    position: absolute;
    top: 9px;
    left: 251px;
}
.footer__send:hover{
    cursor: pointer;
    opacity: 0.7;
}
.copyright{
    height: 68px;
    background: #1DC1CC;
    backdrop-filter: blur(3.5px);
    position: relative;
}
.copyright__text{
    width: 400px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Be Vietnam Pro', sans-serif;
    position: absolute;
    top: 22px;
    left: 550px;
}            